{% extends 'news/base.html' %}
{% load static %}

{% block title %} Mahalliy xabarlar {%endblock title %}

{% block content %}
    {% for news in mahalliy_yangiliklar %}

        <div class="container header_bottom">
            <div class="row col-lg-12 col-md-12 col-sm-12">
                <a href="{{ news.get_absolute_url }}">
                  <img class="logo_area" src="{{ news.image.url }}" alt="{{ news.title }}" style="width:30%;">
                  <h4 class="col-sm-4">{{ news.title }}</h4>
                </a>
            </div>
        </div>

    {% endfor %}
{% endblock content %}
